<div class="load-data">
    <div class="block-content">
        <div class="project-head">
            <h1 class="block-title">Single Project - Finovate Sacco App</h1>
            <div class="tags"><span>Category : </span> Sacco Solution</div>
            <div class="tags"><span>Client : </span> Private Owner</div>
            <div class="tags"><span>Completion : </span> May 2021</div>
            <div class="tags"><span>Role : </span> Lead Developer</div>
        </div>
        <p class="project-description">An mobile application that allows users to save using mobile money and borrow from
        their wallets easily. Donation to charity, saving for a safari holiday and many kore</p>
        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210602-102255.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210602-102301.jpg" alt="" />
            </div>
        </div>

        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210602-102437.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210602-102451.jpg" alt="" />
            </div>
        </div>

        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210602-102456.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210602-102505.jpg" alt="" />
            </div>
        </div>

    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">mesharkw@gmail.com</a>
        </div>
    </div>

    <script>
        $('#close-project').on('click', function() {
            $('.content-blocks.pop').removeClass('showx');
            $('.inline-menu-container').addClass('showx');
            $('.content-blocks.pop section').empty();
        });
    </script>
</div>
