<div class="load-data">
    <div class="block-content">
        <div class="project-head">
            <h1 class="block-title">Single Project -Goodley Savings Mobile App</h1>
            <div class="tags"><span>Category : </span> Financial Mobile Apps</div>
            <div class="tags"><span>Client : </span> Private Owner</div>
            <div class="tags"><span>Completion : </span> January 2021</div>
            <div class="tags"><span>Role : </span> Lead Developer</div>
        </div>
        <p class="project-description">An Applications that allows users to save small amount of cash for later benefits
            Lead developer on requirement gathering and deployment and testing. </p>
        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-195432.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-195457.jpg" alt="" />
            </div>
        </div>

        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-195507.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-195514.jpg" alt="" />
            </div>
        </div>

        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-195518.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-195522.jpg" alt="" />
            </div>
        </div>

    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">mesharkw@gmail.com</a>
        </div>
    </div>

    <script>
        $('#close-project').on('click', function() {
            $('.content-blocks.pop').removeClass('showx');
            $('.inline-menu-container').addClass('showx');
            $('.content-blocks.pop section').empty();
        });
    </script>
</div>
