<div class="load-data">
    <div class="block-content">
        <div class="project-head">
            <h1 class="block-title">Single Project - Fundi Mkononi</h1>
            <div class="tags"><span>Category : </span> Apps</div>
            <div class="tags"><span>Client : </span> Ujenzi</div>
            <div class="tags"><span>Completion : </span> August 2019</div>
            <div class="tags"><span>Role : </span> Lead Developer</div>
        </div>
        <p class="project-description">Helps fundis attract jobs. Have one pool of fundis of different nature
            who can be accessed at any time.. </p>
        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/ujenzi1.jpeg" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/ujenzi2.jpeg" alt="" />
                <img src="images/portfolio/masonry/ujenzi3.jpeg" alt="" />
            </div>
        </div>
        <div class="project-nav text-center">
            <span class="float-left">
                <a class="open-project" href="project-10.html">&leftarrow; Previous Project</a>
            </span>
            <span class="">
                <a id="close-project" href="#"><i class="ion-grid"></i></a>
            </span>
            <span class="float-right">
                <a class="open-project" href="project-12.html">Next Project &rightarrow; </a>
            </span>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">mesharkw@gmail.com</a>
        </div>
    </div>

    <script>
        $('#close-project').on('click', function() {
            $('.content-blocks.pop').removeClass('showx');
            $('.inline-menu-container').addClass('showx');
            $('.content-blocks.pop section').empty();
        });
    </script>
</div>