<div class="load-data">
    <div class="block-content">
        <div class="project-head">
            <h1 class="block-title">Single Project - Centy Soma</h1>
            <div class="tags"><span>Category : </span> Apps</div>
            <div class="tags"><span>Client : </span> Netcent Holdings</div>
            <div class="tags"><span>Completion : </span> March 2020</div>
            <div class="tags"><span>Role : </span> Lead Developer</div>
        </div>
        <p class="project-description">CENTY 
            What is Centy?
            Centy is a wallet, a cash management and an education tool on android, IOS and USSD for parents with students of age 12 – 18 Years of age. 
            Centy helps parents and students to manage pocket money and analyze students’ academic performance. 
            Why use Centy 
            Most financial institutions do not offer financial products for Kids below 18 years, but Centy does.
                • Centy helps parents with kids’ financial literacy.
                • A secure way to store pocket money, avoiding kids losing cash.
                • A cashless lifestyle for Kids.
                • Prompt notification when balance is low.
            Centy Card 
            The Centy wallet is linked to a prepaid Centy card. 
            Functionality of the Centy card.
                • Shop at school canteen.
                • Shop at supermarkets. 
                • Withdraw at the ATM. 
                • Withdraw at School Agents.
                • Pay for goods and services online.
            
            Some schools prefer to use the Centy card as their school ID, its customized with student’s photo, school name and pocket money wallet. 
            Centy SMS 
            Schools use Centy SMS to communicate to parents’ example, a parent receives a text whenever the student arrives at school or when they leave school for home. 
            Centy App
            The app can is for both parents and kids.  It enables parents manage pocket money while students can bank and examine themselves with quizzes.  
            Centy is suitable for parents with boarding high school students who spend 9 months in School. One can top up the card via Mobile Money and monitor expenditure while at home via the Centy app. 
            The app has 2 modules; a financial Module and an education module. Parents can also use the app to pay for utilities.
            The Parents can perform multiple functions through the app; 
                1. Top up pocket via Mobile money pay bill.
                2. View pocket money balance.
                3. Manage pocket money expenditure.
                4. View statements. 
                5. Set reward tasks.
                6. Buy airtime.
                7. Pay utilities at a discounted rate.
                8. Set Centy Quizzes to help your Child improve at school.
                9. Check students quiz performance.
                10. Access to pocket money loans.
            
            Students functions on the Centy App 
                1. Use the app to for Quizzes to assess their understanding on different subjects.
                2. Participate on Brain game challenges. 
                3. Manage pocket Money.
                4. Buy airtime.
                5. Pay for goods and Services.
                6. Transfer Pocket money to friends and relatives. 
                7. Helps to save through the giftboxx wallet. 
                8. Withdraw cash at ATM. 
            
            
            Centy Soma.
            Parents pay a subscription fee of 25 kes weekly for 2 students to access 40 daily questions for each subject and a weekly brain game challenges to help students test their academic performance. After the test, parents can see results and monitor growth. 
            
            
            
            Centy Reward Quizzes.  
            Parents can set reward quizzes for the students and tip them pocket money once they achieve the targets. The best way to keep students busy studying especially during this corvid 19 Pandemic whilst rewarding them with financial incentives.  
            How to set Reward Quizzes. 
                • On the main page of the app, click the first section written set target. 
                • You will be directed to another page. 
                • If you have more than 1 student, swipe left to select a student. 
                • Select the subject you desire to set a target.
                • Input a target in Percentage example (45 %) for the kid to achieve. 
                • Enter amount for the kid to achieve. 
                • Top-up the cash or select deduct from your wallet. 
            Centy Brain Game. 
            The brain game challenge is a set of 30 random questions from different subjects and topics within 10 Minutes. The best student is in each class is awarded 2,000 KES on every Friday. The challenge is set to instill a competitive spirit among students and to sharpen ability to solve challenges. 
            
            
            
              </p>
        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/centy1.png" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/centy2.png" alt="" />
                <img src="images/portfolio/masonry/centy3.png" alt="" />
                <img src="images/portfolio/masonry/centy4.png" alt="" />
                <img src="images/portfolio/masonry/centy6.png" alt="" />
                <img src="images/portfolio/masonry/centy7.png" alt="" />
                <img src="images/portfolio/masonry/centy8.png" alt="" />
            </div>
        </div>
        <div class="project-nav text-center">
            <span class="float-left">
                <a class="open-project" href="project-11.html">&leftarrow; Previous Project</a>
            </span>
            <span class="">
                <a id="close-project" href="#"><i class="ion-grid"></i></a>
            </span>
            <span class="float-right">
                <a class="open-project" href="project-13.html">Next Project &rightarrow; </a>
            </span>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">mesharkw@gmail.com</a>
        </div>
    </div>

    <script>
        $('#close-project').on('click', function() {
            $('.content-blocks.pop').removeClass('showx');
            $('.inline-menu-container').addClass('showx');
            $('.content-blocks.pop section').empty();
        });
    </script>
</div>