<div class="load-data">
    <div class="block-content">
        <div class="project-head">
            <h1 class="block-title">Single Project - Infleg Android Applications</h1>
            <div class="tags"><span>Category : </span> Apps</div>
            <div class="tags"><span>Client : </span> Private Owner</div>
            <div class="tags"><span>Completion : </span> September 2017</div>
            <div class="tags"><span>Role : </span> Lead Developer</div>
        </div>
        <p class="project-description">A joob seeking platform. Enable users apply for day to day job or activities available for them in the app. 
            Users facebook toolkit API for authentication of mobile numbers.
            Uses  google maps API for location.
            Lead developer on requirement gathering and deployment and testing. </p>
        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/infleg.png" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/inflegb.png" alt="" />
            </div>
        </div>
        <div class="project-nav text-center">
            <span class="float-left">
                <a class="open-project" href="project-10.html">&leftarrow; Previous Project</a>
            </span>
            <span class="">
                <a id="close-project" href="#"><i class="ion-grid"></i></a>
            </span>
            <span class="float-right">
                <a class="open-project" href="project-2.html">Next Project &rightarrow; </a>
            </span>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">mesharkw@gmail.com</a>
        </div>
    </div>

    <script>
        $('#close-project').on('click', function() {
            $('.content-blocks.pop').removeClass('showx');
            $('.inline-menu-container').addClass('showx');
            $('.content-blocks.pop section').empty();
        });
    </script>
</div>