<div class="load-data">
    <div class="block-content">
        <div class="project-head">
            <h1 class="block-title">Single Project -White Sip Order Online</h1>
            <div class="tags"><span>Category : </span> Food Ordering </div>
            <div class="tags"><span>Client : </span> Private Owner</div>
            <div class="tags"><span>Completion : </span> December 2020</div>
            <div class="tags"><span>Role : </span> Lead Developer</div>
        </div>
        <p class="project-description">An web application that allows users to order from whitesip restaurant online
            Lead developer on requirement gathering and deployment and testing. </p>
        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot from 2021-01-07 20-24-50.png" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot from 2021-01-07 20-24-54.png" alt="" />
            </div>
        </div>

        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot from 2021-01-07 20-25-01.png" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot from 2021-01-07 20-25-07.png" alt="" />
            </div>
        </div>

        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot from 2021-01-07 20-25-18.png" alt="" />
            </div>

        </div>

    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">mesharkw@gmail.com</a>
        </div>
    </div>

    <script>
        $('#close-project').on('click', function() {
            $('.content-blocks.pop').removeClass('showx');
            $('.inline-menu-container').addClass('showx');
            $('.content-blocks.pop section').empty();
        });
    </script>
</div>
