<div class="load-data">
    <div class="block-content">
        <div class="project-head">
            <h1 class="block-title">Single Project - WhiteSip Mobile App</h1>
            <div class="tags"><span>Category : </span> Restaurant Mobile Apps</div>
            <div class="tags"><span>Client : </span> Private Owner</div>
            <div class="tags"><span>Completion : </span> December 2020</div>
            <div class="tags"><span>Role : </span> Lead Developer</div>
        </div>
        <p class="project-description">An mobile application that allows users to order from whitesip restaurant online
            Lead developer on requirement gathering and deployment and testing. </p>
        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-200203.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-200208.jpg" alt="" />
            </div>
        </div>

        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-200321.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-200342.jpg" alt="" />
            </div>
        </div>

        <div class="project-media row">
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-200356.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <img src="images/portfolio/masonry/Screenshot_20210107-200359.jpg" alt="" />
            </div>
        </div>

    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">mesharkw@gmail.com</a>
        </div>
    </div>

    <script>
        $('#close-project').on('click', function() {
            $('.content-blocks.pop').removeClass('showx');
            $('.inline-menu-container').addClass('showx');
            $('.content-blocks.pop section').empty();
        });
    </script>
</div>
